@font-face {
  font-family: "modernWarfare";
  src: url("./fonts/modernWarfare.ttf");
}
@font-face {
  font-family: "leagueGothicCondensed";
  src: url("./fonts/LeagueGothic-Regular.otf");
}

@font-face {
  font-family: "lcd";
  src: url("./fonts/modern_lcd-7.ttf");
}

@font-face {
  font-family: "bebas";
  src: url("./fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "orbitron";
  src: url("./fonts/Orbitron-VariableFont_wght.ttf");
}

html {
  background: url("./Backgrounds/allBlack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /* we set transition to 'all' properies - but you can use it just for background image either - by default the time is set to 1 second, you can change it yourself*/
  transition: linear background-image 1s;
  /* if you don't use delay , background will disapear and transition will start from a white background - you have to set the transition-delay the same as transition time OR more , so there won't be any problems */
  -webkit-transition-delay: 0; /* Safari */
  transition-delay: 0;
}

/* Navigation Bar*/

#headerTag {
  font-family: "modernWarfare";
  /* text-decoration: underline; */
  position: absolute;
  top: 5px;
  font-size: 45px;
  margin: 40px auto;
  color: rgba(255, 255, 255, 0.514);
  border-bottom: 1px solid #79d9ff;
  white-space: nowrap;
}

.generalHover:hover {
  border: 1px solid #79d9ff;
  cursor: pointer;
}

.pointerHover:hover {
  cursor: pointer;
}

.colorHover:hover {
  color: #79d9ff;
}

.gridBackground {
  background-image: url("./black-tile.png");
  background-size: 1.5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav {
  position: relative;
  width: auto;
  padding: 0% 10%;
  margin: 0;
  background-image: url("./black-tile.png");
  background-size: 1.5px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  height: 140px;
  overflow: hidden;
  z-index: 1;
}

.navMenu {
  display: flex;
  flex: 2;
  position: relative;
  /* margin: 88px 2px 0px 2px;
  padding: 8px 10px 10px 10px; */
}

.navItem,
.navItemClicked {
  flex: 1;
  font-family: "leagueGothicCondensed";
  font-variant: small-caps;
  font-size: 24px;
  top: 7px;
  text-align: center;
  align-items: center;
  width: 145px;
  /* border: 1px solid white; */
  color: rgba(255, 255, 255, 0.849);
  transition: text-shadow 1s, border-top 1s box-shadow 3s, color 1.5s;
  margin: 88px 2px 0px 2px;
  padding: 8px 10px 10px 10px;
}

.navItemBox a {
  text-decoration: none;
  display: flex;
  flex: 1;
}

.navWhiteSpace {
  flex: 1;
}
.userNavMenu {
  flex: 1;
  display: flex;
}

.navItemBox {
  position: relative;
  flex: 1;
  display: flex;
}

.navItem:after,
.navItemClicked:after {
  width: 100%;
  content: "";
  height: 2px;
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(151, 205, 225, 0.5),
    #79d9ff 20%,
    #79d9ff 80%,
    rgba(151, 205, 225, 0.5)
  );
  transition: all ease 0.8s;
  transform: scaleX(0);
  bottom: -1px;
  left: 0;
}

.navItem:hover:after,
.navItemClicked:after {
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
  transform: scaleX(1);
  box-shadow: 0px 0px 10px;
}

/* Main app component*/

.mainComponent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 0px 40px 0px;
}

.componentHeader {
  font-family: "modernWarfare";
  position: relative;
  font-size: 25px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #79d9ff;
  white-space: nowrap;
  margin-bottom: 0;
}

.componentBox {
  position: relative;
  width: 80%;
  min-width: 1000px;
}
/*Accolades in Records Section*/

#accoladesHeader {
  font-family: "modernWarfare";
  /* text-decoration: underline; */
  position: relative;
  /* top: 5px; */
  font-size: 25px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #79d9ff;
  white-space: nowrap;
  margin-bottom: 0;
}

#arrowsBox {
  display: flex;
  justify-content: space-between;
}

#accoladesBox {
  display: flex;
  flex-wrap: no wrap;
  justify-content: space-between;
  overflow: scroll;
}

#accoladesBox::-webkit-scrollbar {
  display: none;
}

.accolade {
  /* width: 20%; */
  color: azure;
  text-align: center;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accoladeWrapper {
  position: relative;
  width: 92%;
}

.accoladeImage {
  display: block;
  width: 100%;
}
.accoladeRanks {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 2, 0, 0.644);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.3s;
  background-image: url("./black-tile.png");
  background-size: 1.5px;
}

.accoladeRanks:hover {
  opacity: 1;
}

.ranksItem {
  flex: 1 1 auto;
}

.memberImage {
  display: block;
  margin: 0;
  width: 90%;
}

.accoladeRanks p {
  font-family: "lcd";
  font-size: 18pt;
  color: #79d9ff;
  text-shadow: 0px 0px 10px #79d9ff;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.accUsername {
  padding-bottom: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.accoladeHeader {
  font-family: "modernWarfare";
  font-size: 14px;
  text-shadow: 0px 0px 10px #79d9ff;
  color: #79d9ff;
}

/*Rankings Component & Table*/

#rankings {
  width: 100%;
  color: white;
  border-spacing: 0em 0.5em;
  text-align: left;
  font-size: 1rem;
  overflow: hidden;
  cursor: crosshair;
}

th {
  transition: text-shadow 1s, box-shadow 3s, color 1.5s;
  table-layout: fixed;
  color: white;
  background: rgba(0, 2, 0, 0.103);
  box-shadow: 0px;
  font-family: "leagueGothicCondensed";
  font-stretch: semi-expanded;
  font-size: 1.4rem;
  height: 1em;
  line-height: 1em;
}

th:hover {
  text-shadow: 0px 0px 10px #79d9ff;
  color: #79d9ff;
}

tr {
  height: 2em;
  line-height: 2.5em;
  vertical-align: center;
  border-top: 1px solid rgba(0, 2, 0, 0.055);
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.1rem;
}

.position {
  padding-left: 12px;
  width: 80px;
  text-align: left;
}

.KDR,
.winRatio,
.wins,
.games,
.kills,
.deaths,
.downs,
.revives,
.top5 {
  width: 7vw;
}

.recordsRows:nth-child(odd) {
  background: rgba(0, 2, 0, 0.486);
}
.recordsRows:nth-child(even) {
  background: rgba(0, 2, 0, 0.137);
}

.recordsRows {
  transition: text-shadow 0.5s, box-shadow 2s, color 0.5s;
  color: #aab5b9;
}

.recordsRows:hover {
  /* background-image: url("./black-tile.png");
  background-size: 1.6px;
  background-color: #080000e5; */
  text-shadow: 0px 0px 10px #79d9ff;
  box-shadow: 0px 2px 3px 0px rgba(82, 219, 243, 0.63);
  color: #79d9ff;
}

/* Smack Box */

#smackboardComponent {
  width: 80%;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.smackNewsHeader {
  flex: 4;
  margin-right: 10px;
}

.smackNewsHeaderSpacer {
  flex: 1;
}

.smackNewsMain {
  display: flex;
  justify-content: space-between;
}

.smackNewsMain {
  height: 60vh;
}

.smackboardWrapper {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

#chatbox {
  position: relative;

  height: 83%;
  overflow-y: auto;
}

div::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(2, 2, 2, 0);
}

div::-webkit-scrollbar-track {
  background: rgba(2, 2, 2, 0);
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: #79d9ff;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #79d9ff;
}

#chat {
  background-image: url("./black-tile.png");
  background-size: 1.5px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin: 0 0 1em 0;
}

/* #chat:nth-child(even) {
  background: rgba(0, 2, 0, 0.486);
  background-size: 1.5px;
}
#chat:nth-child(odd) {
  background: rgba(0, 2, 0, 0.137);
  background-image: url("./black-tile.png");
  background-size: 1.5px;
} */

.chatItem {
  border: 1px solid rgba(0, 0, 0, 0);
}

.chatItem:hover {
  border: 1px solid #79d9ff;
  cursor: pointer;
}

#chatName {
  color: #79d9ff;
  font-size: medium;
  margin-right: 7px;
}

#chatDate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: small;
  color: rgb(151, 147, 147);
}

.chatContent {
  padding: 0 0 0 10px;
}

#chatMessage {
  color: #ffffff;
  font-size: large;
  padding-top: 2px;
}

#ytPlayerWrapper {
  display: inline-block;
  overflow: visible;
  position: relative;
  margin: 1em 0;
}

#chatImg {
  max-width: 100%;
}

#chatGif {
  max-width: 30%;
  padding-top: 2px;
}

#chatImageWrapper {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  /* align-items: left; */
  gap: 1em;
  margin: 1em 0;
}

#nameDate {
  display: flex;
  margin-bottom: 2px;
  align-items: flex-end;
}

#chatUsername {
  color: #79d9ff;
}

#messageSubmit {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: space-between;
  padding: 10px;
  height: 3em;
  background: rgba(70, 69, 69, 0.445);
}

#typedMessage {
  flex: 6;
  border: none;
  background-image: url("./black-tile.png");
  background-size: 1.5px;
  background: rgba(0, 2, 0, 0);
  color: #ffffff;
  font-size: large;
  outline: none;
}

#createMessage {
  display: flex;
  color: #ffffff;
  flex: 5;
}

/* #messageSubmitButton {
  text-align: right;
} */

#videoInput {
  position: absolute;
  right: 0;
  bottom: 2.5em;
  width: 400px;
  color: rgb(0, 0, 0);
  background-color: rgba(3, 3, 3, 0.205);
  border-radius: 5px;
  padding: 3px;
  border: 2px solid rgb(121, 217, 255);
}

#videoForm {
  display: flex;
}

#ytLinkInput {
  display: inline-block;
  border-radius: 5px;
  flex: 3;
  height: 30px;
}

#videoSubmit {
  display: inline-block;
  border-radius: 5px;
  font-family: "modernWarfare";
  flex: 1;
  background-color: rgba(70, 69, 69, 0.445);
  color: white;
}

#videoSubmit:hover {
  text-shadow: 0px 0px 10px #79d9ff;
  color: #79d9ff;
}

.EXKLM {
  position: absolute !important;
  bottom: 2.5em;
  right: 0;
  width: auto;
}

.dftVQk {
  width: 60% !important;
}

.fGONoI {
  opacity: 1;
  /* -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear; */
  margin-top: 0 !important;
  border: 1px solid #f1f1f1;
  border-radius: 5px !important;
  background: rgb(255, 255, 255) !important;
  box-shadow: none !important;
  width: 230px !important;
  height: 320px !important;
  overflow-y: scroll;
  overflow-x: visible !important;
  z-index: 999 !important;
  padding-top: 1rem;
}

aside.emoji-picker-react {
  background: rgba(117, 51, 51, 0);
  display: flex;
  flex-direction: column;
  height: 320px !important;
  font-family: sans-serif;
  border: 1px solid #efefef;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: none !important;
  overflow: scroll !important;
  position: absolute !important;
  z-index: 999 !important;
  right: 0;
  bottom: 2.5em;
}

.formDiv {
  width: 70%;
  display: flex;
}

.buttonsWrapper {
  width: 20%;
  justify-content: flex-end;
  display: flex;
}

.smackButtonWrapper {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}

.iconWrapper {
  border-bottom: 1px solid #f8f9fa00;
}

.iconWrapper:hover {
  border-bottom: 1px solid #f8f9fa;
}

.smackButton {
  background-image: url("./black-tile.png");
  background-size: 1.5px;
  background: rgba(0, 2, 0, 0);
  color: #ffffff;
  font-family: "modernWarfare";
  font-size: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.messageIcon {
  width: 75%;
}

.smackButton:hover {
  text-shadow: 0px 0px 10px #79d9ff;
  color: #79d9ff;
  cursor: pointer;
}

.videoSubmitted {
  text-shadow: 0px 0px 10px #79d9ff;
  color: #79d9ff;
}

#chatResponse {
  font-family: "modernWarfare";
  color: #79d9ff;
  padding: 5px 10px;
}

#previewThumbs {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

#previewDiv {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

#previewImage {
  max-width: 10em;
}

.bannerWrapper {
  flex: 1;
  display: flex;
  position: relative;
  cursor: pointer;
}

.bannerImage {
  height: 100%;
  background-image: url("./black-tile.png");
  background-size: 1.5px;
}

.bannerMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  background-image: url("./black-tile.png");
  background-size: 1.5px;
  opacity: 0;
  display: flex;
}

.bannerMask:hover {
  opacity: 1;
  cursor: pointer;
}

.maskImageWrapper {
  width: 60%;
  height: auto;
}

.maskImage {
  width: 100%;
  height: 100%;
}

/*Full Image Pop Up*/

.popUp {
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  background-color: #050505de;
}

.buttonWrapper {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 35px;
  /* height: 10px; */
}

.closeButton {
  position: fixed;
  width: 25px;
  z-index: 3;
  color: white;
  background-color: #030303;
}

.fullImageWrapper {
  min-width: 70%;
  max-width: 75%;
  max-height: 90%;
  height: auto;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.fullImageInner {
  /* max-width: 10%; */
  /* min-width: 90%;
  max- */
  width: 100%;
  max-height: 100%;
  text-align: center;

  position: relative;
  padding-top: 56.25%;
}

.ytPlayer {
  display: inline-block;
}

.fullImage {
  width: 100%;
  height: auto;

  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Dropzone*/
.dropzone {
  color: #bdbdbd;
  border: 2px solid #79d9ff;
}

.dropzone:hover {
  cursor: pointer;
  color: #79d9ff;
}

/*Login Splash*/

#logoLogin {
  display: flex;
  align-items: center;
  top: 10vh;
  position: relative;
}

#mwLogo {
  display: flex;
  justify-content: center;
  flex: 1;
}

#mwLogo img {
  max-width: 45vw;
}

#loginWrap {
  display: flex;
  justify-content: center;
  flex: 1;
}

#loginDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 20vw;
  min-height: 28rem;
  padding: 0 2em;
  color: #ffffff;
  background: rgba(70, 69, 69, 0.445);
  font-family: "modernWarfare";
}

#loginDiv form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#loginDiv input {
  flex: 1;
  width: 100%;
  margin: 0.5em 0;
}

#loginDiv #submit,
#verify {
  flex: 1;
  color: #ffffff;
  background: rgba(70, 69, 69, 0);
  font-family: "modernWarfare";
  font-size: large;
  text-align: start;
  padding: 0.5em 0;
  border: none;
}

.textInput {
  background: rgba(0, 2, 0, 0);
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #79d9ff;
  outline: none;
  font-size: large;
}

.textInput::placeholder {
  color: #ffffffa1;
  opacity: 1;
}

.loginResponse {
  /* height: 2vh; */
  flex: 1;
  color: #79d9ff;
  font-family: "modernWarfare";
  font-size: smaller;
}

.signUpResponse {
  /* height: 2vh; */
  flex: 1;
  color: #79d9ff;
  font-family: "modernWarfare";
  font-size: smaller;
  margin: 0;
}

.blueHover:hover {
  /* text-shadow: 0px 0px 10px #79d9ff; */
  color: #79d9ff !important;
}

#platformDiv {
  display: flex;
}

#platformDiv div {
  flex: 2;
}

#platformDiv input {
  margin: auto 0 auto 0;
}

/* news Component */

#newsComponent {
  width: 80%;
}

.articleListWrapper {
  flex: 4;
  margin-right: 10px;
  overflow-y: scroll;
}

.bannerImage {
  width: 100%;
}

.articleLink {
  text-decoration: none;
}

.article {
  /* border: solid 1px white; */

  padding: 20px 20px 5px 20px;
  margin: 0 0 15px 0;
  /* overflow: visible; */
  background: rgba(0, 2, 0, 0.137);
  background-image: url("./black-tile.png");
  background-size: 1.5px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.articleTop {
  display: flex;
}

.article:hover {
  border: 1px solid #79d9ff;
}

.articleTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  overflow: visible;
  margin: 0 1em 0 0;
  flex: 2;
}

.sourceDateWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.8vw;
  color: white;
  text-decoration: none;
  font-family: "bebas";
}

.content {
  font-size: 1vw;
  color: white;
}

.sourceDate {
  font-size: 1.1vw;
  color: rgb(151, 147, 147);
  flex-basis: 33%;
  margin-bottom: 2px;
}

#source {
  color: #79d9ff;
}

.date {
  color: rgb(151, 147, 147);
  /* margin: 18px 0 0 0; */
}

.seeFullArticle {
  text-align: center;
  color: #79d9ff;
}

.articleImageWrapper {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.articleImage {
  width: 100%;
}

.contentWrapper {
  display: block;
}

/*Gallery*/
.gallery {
  width: 80%;
}

#galleryHeaderWrapper {
  border-bottom: 1px solid #79d9ff;
}

.galleryHeader {
  font-family: "modernWarfare";
  position: relative;
  font-size: 25px;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  margin-bottom: 0;
  flex: 1;
}

#addContentButton {
  flex: 1;
  text-align: right;
}

.galleryMain {
  display: flex;
  justify-content: space-between;
  gap: 1vw;

  margin-top: 15px;
}

.galleryListWrapper {
  flex: 1.3;
}

.galleryList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.galleryItem {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #030303;
  border: 1px solid white;
  border-radius: 2px;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.galleryItem:hover {
  border: 2px solid #79d9ff;
  cursor: pointer;
}

.galleryItemWrapper,
.galleryVideoWrapper {
  display: flex;
  flex-direction: column;
}

.galleryImage {
  width: 150%;
}

.galleryLoadMoreWrapper {
  font-family: "modernWarfare";
  color: #efefef;
}

.galleryLoadMore {
  font-size: 1.2vw;
}

.itemViewComponentWrapper {
  flex: 1;
}

.itemViewComponent {
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  padding: 10px;
}

.imageViewWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoViewWrapper {
  position: relative;
  padding-top: 56.25%;
}

#galleryYTPlayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#popUpYTPlayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.viewPortImage {
  width: 100%;
}

.expand {
  color: #efefef;
  font-family: "modernWarfare";
  font-size: 1.2vw;
  margin: 0.5em auto 1em auto;
  text-align: center;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* .itemDetails p {
  margin: 5px 5px auto;
} */

.usernameDate {
  font-size: 1.5vw;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

.detailsDate {
  font-family: "orbitron";
  font-size: 1vw;
  margin-top: 0;
  margin-bottom: 0;
}

.detailsDescription {
  font-size: 1.3vw;
  color: white;
  margin-top: 1em;
  /* text-decoration: none; */

  /* text-align: left; */
}

/*Add Gallery Content Component */
.addBackdrop {
  background-color: #000000d3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.addGalleryContent {
  color: #ffffff;
  width: 35vw;
  font-family: modernWarfare;
  background-color: black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.addContentMain {
  display: flex;
}

#addContentFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.addContentForm {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

  height: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.contentInputLabel {
  font-family: "modernWarfare";
  font-size: 15px;
  background-color: rgba(0, 2, 0, 0.575);
}

.addContentInput {
  display: block;
  background-image: url("./black-tile.png");
  background-size: 1.5px;
  background-color: rgba(0, 2, 0, 0.575);
  color: #ffffff;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 5vh;
}

.addContentInput:focus {
  outline: none !important;
  border: 1px solid #79d9ff;
}

#descriptionField {
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

#galleryContentSubmit {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  font-family: "modernWarfare";
  font-size: 18px;
}

#galleryContentSubmit:hover {
  color: #79d9ff;
}
.galleryDropzoneWrapper {
  flex: 1;
}

#galleryDropzone {
  display: block;
  max-height: 30vh;
  overflow-y: scroll;
}

#galleryPreviewThumbs {
  /* display: flex;
  justify-content: center; */
  width: 100%;
}

#galleryPreviewImage {
  max-width: 100%;
}

#galleryPreviewDiv {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 15px;
  border-top: 1px solid #030303;
}

.footerGrid {
  width: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  align-items: center;
}

.modernWarfareWrap {
  width: 100%;
}

.footerLogo {
  width: 100%;
}

.footerName {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.footerName p {
  margin-top: 0;
  display: block;
  text-align: center;
}
